:root {
    --bs-body-font-size: 0.9375rem;
}

.btn {
    --bs-btn-font-weight: 600;
    border-radius: var(--bs-border-radius) !important;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .171);
}

/* temp*/
.btn:focus {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn:hover {
    box-shadow: 0px 4px 10px 0px rgba(50, 50, 93, .226), 0px 1px 3px 0px rgba(0, 0, 0, .08);
}

.card,
.form-control,
.modal-content {
    border-radius: var(--bs-border-radius) !important;
}

.navbar .navbar-brand {
    font-family: -webkit-pictograph;
    font-weight: 600;
    color: #6d48e5 !important;
}

.navbar .navbar-toggler {
    background: #6d48e5;
    border: 1px solid transparent !important;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler:hover {
    box-shadow: 0px 4px 10px 0px rgba(50, 50, 93, .226), 0px 1px 3px 0px rgba(0, 0, 0, .08);
}



a#loginBtn:hover,
a#loginBtn:focus {
    background-color: #5757e70d;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .171);
}

a#loginBtn:active {
    background-color: #5757e70d;
    box-shadow: none;
}


li.list-group-item {
    display: flex;
    padding-left: 0.5rem;

}

li.list-group-item-danger {
    /* background-color: #feeec8; */
    color: var(--bs-danger);
}

li.list-group-item-success {
    /* background-color: #d4f8c4; */
    color: var(--bs-success);
}


input#passInput:valid,
input#passInput:invalid {
    background-position: 83%;
}


span#medlistSearchBoxClear:hover,
span#medlistSearchBoxClear:active {
    background-color: lavender;
    border-radius: 2px;
}

input#medlistSearchBox::placeholder {
    color: lightslategray;
}

input#medlistSearchBox:focus {
    border-color: var(--bs-primary) !important;
}

div#medlistSearch:hover svg {
    color: var(--bs-primary) !important;
}


input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.1);
}

input[type="checkbox"]:active::after {
    content: "";
    display: block;
    width: 17px;
    height: 16px;
    /* border-radius: 40%; */
    translate: -1px 2px;
    outline: solid 10px;
    outline-color: #0074ff4d;
    outline-offset: -1px;
}



label.fav {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26ZM12.0006 15.968L16.2473 18.3451L15.2988 13.5717L18.8719 10.2674L14.039 9.69434L12.0006 5.27502L9.96214 9.69434L5.12921 10.2674L8.70231 13.5717L7.75383 18.3451L12.0006 15.968Z' fill='rgba(240,187,64,1)'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

label.fav:has(input:checked) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z' fill='rgba(240,187,64,1)'%3E%3C/path%3E%3C/svg%3E");

}

label.fav input {
    position: absolute;
    display: none;
}


nav#topNav .fav input+span {
    position: absolute;
    translate: 24px 0;
    font-size: 12px;
    border: 1px solid yellowgreen;
    border-radius: 2px;
    padding: 0px 4px;
}































/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: rgba(255, 255, 255, 0.7490196078);
}

.hamburger-box {
    width: 16px;
    height: 12px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 16px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7490196078);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -5px;
}

.hamburger-inner::after {
    bottom: -5px;
}

/*
 * Slider Reverse
 */
.hamburger--slider-r .hamburger-inner {
    top: 1px;
}

.hamburger--slider-r .hamburger-inner::before {
    top: 5px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}

.hamburger--slider-r .hamburger-inner::after {
    top: 10px;
}

.hamburger--slider-r.is-active .hamburger-inner {
    transform: translate3d(0, 5px, 0) rotate(-45deg);
}

.hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(2.2857142857px, -3px, 0);
    opacity: 0;
}

.hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(90deg);
}





.loaderBody-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    cursor: pointer;
}